<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Matricular alumnos</title>
	</head>
	<body>
	    <h2>Formulario para Matricular Alumnos</h2>
	    <form action="#" th:action="@{/alumnos}" th:object="${alumno}" method="post">
	        <label>Nombre: <input type="text" th:field="*{nombre}" /></label><br/>
	        <label>Apellido: <input type="text" th:field="*{apellido}" /></label><br/>
	        <label>Teléfono: <input type="text" th:field="*{telefono}" /></label><br/>
	        <label>Email: <input type="email" th:field="*{email}" /></label><br/>
	        <label>DNI: <input type="text" th:field="*{dni}" /></label><br/>
	        <label>Fecha de Nacimiento: <input type="date" th:field="*{fechaNac}" /></label><br/>
	        <button type="submit">Guardar</button>
	    </form>
	</body>
	</html>